* {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

#title {
	text-align: center;
	font-size: 3em;
	margin: 10px;

}

#title-img {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	display: block;
}

#pet-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 2em;
}

#cat-wellcome {
  color: #cc0101;
  background-color: #ddd;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  left: 350px;
}
#cat-img {
	height: 600px;
	position: absolute;
	top: 0;
	right: : 0;
}

#tummy {
	float: right;
	font-size: 1.8em;
}

.angry {
	font-size: 1.8em;
	color: red;	
}

